
head {
margin-top: 0px;
margin-left: 0px;
margin-bottom: 0px;
margin-right: 0px;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
border-top: 0px;
border-right: 0px;
border-bottom: 0px;
border-left: 0px;
}

body {
font-family: verdana,sans-serif;
font-size: 8pt;
color: black;
margin-top: 0px;
margin-left: 0px;
margin-bottom: 0px;
margin-right: 0px;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
border-top: 0px;
border-right: 0px;
border-bottom: 0px;
border-left: 0px;
}

table {
background-color: white;
margin-top: 0px;
margin-left: 0px;
margin-bottom: 0px;
margin-right: 0px;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
border-top: 0px;
border-right: 0px;
border-bottom: 0px;
border-left: 0px;
}

tr.black {
background-color: black;
}

td.top {
background-image: url(topback.png);
background-color: black;
}

table.nav {
background-color: #336699;
}

tr.nav {
background-color: #336699;
}

td.nav {
background-image: url(navback.png);
background-color: #336699;
}

td.sep {
background-image: url(separator.png);
background-color: #6397CB;
}

table.shade {
background-color: #6397CB;
}

tr.shade {
background-color: #6397CB;
}

td.hdr {
background-image: url(hdrback.png);
background-color: #6397CB;
}

td.img {
background-image: url(imgback.png);
background-color: white;
}
 
td.shade {
background-color: #6397CB;
}

td.white {
background-color: white;
font-family: verdana,sans-serif;
font-size: 8pt;
color: black;
}

table.invlight {
background-color: #AED7FF;
}

tr.invlight {
background-color: #AED7FF;
}

td.invlight {
background-color: #AED7FF;
}

table.invdark {
background-color: #7FBFFF;
}

tr.invdark {
background-color: #7FBFFF;
}

td.invdark {
background-color: #7FBFFF;
}

tr.white {
background-color: white;
}

table.blank {
background-color: white;
height: 1px;
}

p {
font-family: verdana,sans-serif;
font-size: 8pt;
color: black;
}

p.silver {
font-family: verdana,sans-serif;
font-size: 8pt;
color: silver;
}

p.white {
font-family: verdana,sans-serif;
font-size: 8pt;
color: white;
}

p.boldwhite {
font-family: verdana,sans-serif;
font-size: 8pt;
font-weight: bold;
color: white;
}

strong {
font-family: verdana,sans-serif;
font-size: 8pt;
font-weight: bold;
color: black;
}

strong.white {
font-family: verdana,sans-serif;
font-size: 8pt;
font-weight: bold;
color: white;
}

strong.invhead {
font-family: Arial;
font-size: 20pt;
font-weight: bold;
color: black;
}

strong.invblack {
font-family: Arial;
font-size: 10pt;
font-weight: bold;
color: black;
}

strong.invsmallblack {
font-family: Arial;
font-size: 8pt;
font-weight: bold;
color: black;
}

blockquote {
font-family: verdana,sans-serif;
font-size: 8pt;
color: black;
}

pre {
font-family: courier new,monospace;
font-size: 8pt;
color: black;
}

hr {
height: 1px;
color: #6397CB;
background-color: #6397CB;
}

.pagecenter {
font-family: verdana,sans-serif;
font-size: 10pt;
font-weight: bold;
color: white;
text-align: center;
}

.pageleft {
font-family: verdana,sans-serif;
font-size: 10pt;
font-weight: bold;
color: white;
text-align: left;
}

.pageright {
font-family: verdana,sans-serif;
font-size: 8pt;
font-weight: bold;
color: white;
text-align: right;
}

.subhead {
font-family: verdana,sans-serif;
font-size: 10pt;
font-weight: bold;
color: black;
}

.search {
font-family: verdana,sans-serif;
font-size: 8pt;
color: red;
}

.white {
font-family: verdana,sans-serif;
font-size: 8pt;
color: white;
}

.whitebold {
font-family: verdana,sans-serif;
font-size: 8pt;
font-weight: bold;
color: white;
}

.silver {
font-family: verdana,sans-serif;
font-size: 8pt;
color: silver;
}

.invsmallblue {
font-family: Arial;
font-size: 8pt;
color: #007FFF;
}

.invblack {
font-family: Arial;
font-size: 10pt;
color: black;
}

.invsmallblack {
font-family: Arial;
font-size: 8pt;
color: black;
}

a:link {
font-family: verdana,sans-serif;
font-size: 8pt;
text-decoration: underline;
}

a:active {
font-family: verdana,sans-serif;
font-size: 8pt;
text-decoration: underline;
}

a:visited {
font-family: verdana,sans-serif;
font-size: 8pt;
text-decoration: underline;
}

a:hover {
font-family: verdana,sans-serif;
font-size: 8pt;
color: #FA320A;
text-decoration: underline;
}

a.codelink:link {
font-family: courier new,monospace;
font-size: 8pt;
text-decoration: underline;
}

a.codelink:active {
font-family: courier new,monospace;
font-size: 8pt;
text-decoration: underline;
}

a.codelink:visited {
font-family: courier new,monospace;
font-size: 8pt;
text-decoration: underline;
}

a.codelink:hover {
font-family: courier new,monospace;
font-size: 8pt;
color: #FA320A;
text-decoration: underline;
}

a.menulink:link {
font-family: verdana,sans-serif;
font-size: 8pt;
color: white;
text-decoration: underline;
}

a.menulink:active {
font-family: verdana,sans-serif;
font-size: 8pt;
color: white;
text-decoration: underline;
}

a.menulink:visited {
font-family: verdana,sans-serif;
font-size: 8pt;
color: white;
text-decoration: underline;
}

a.menulink:hover {
font-family: verdana,sans-serif;
font-size: 8pt;
color: silver;
text-decoration: underline;
}

a.boldmenulink:link {
font-family: verdana,sans-serif;
font-size: 8pt;
font-weight: bold;
color: white;
text-decoration: none;
}

a.boldmenulink:active {
font-family: verdana,sans-serif;
font-size: 8pt;
font-weight: bold;
color: white;
text-decoration: none;
}

a.boldmenulink:visited {
font-family: verdana,sans-serif;
font-size: 8pt;
font-weight: bold;
color: white;
text-decoration: none;
}

a.boldmenulink:hover {
font-family: verdana,sans-serif;
font-size: 8pt;
font-weight: bold;
color: #B4D0EA;
text-decoration: none;
}

a.quickmenulink:link {
font-family: verdana,sans-serif;
font-size: 8pt;
text-decoration: underline;
}

a.quickmenulink:active {
font-family: verdana,sans-serif;
font-size: 8pt;
text-decoration: underline;
}

a.quickmenulink:visited {
font-family: verdana,sans-serif;
font-size: 8pt;
text-decoration: underline;
}

a.quickmenulink:hover {
font-family: verdana,sans-serif;
font-size: 8pt;
color: #FA320A;
text-decoration: underline;
}

a.topmenulink:link {
font-family: verdana,sans-serif;
font-size: 8pt;
color: white;
text-decoration: underline;
}

a.topmenulink:active {
font-family: verdana,sans-serif;
font-size: 8pt;
color: white;
text-decoration: underline;
}

a.topmenulink:visited {
font-family: verdana,sans-serif;
font-size: 8pt;
color: white;
text-decoration: underline;
}

a.topmenulink:hover {
font-family: verdana,sans-serif;
font-size: 8pt;
color: #B4D0EA;
text-decoration: underline;
}

form {
font-family: verdana,sans-serif;
font-size: 8pt;
color: black;
}

input {
font-family: verdana,sans-serif;
font-size: 8pt;
color: black;
}

file {
font-family: verdana,sans-serif;
font-size: 8pt;
color: black;
}

select {
font-family: verdana,sans-serif;
font-size: 8pt;
color: black;
}

textarea {
font-family: verdana,sans-serif;
font-size: 8pt;
color: black;
width: 99%;
}

textarea.code {
font-family: courier new,monospace;
font-size: 8pt;
color: black;
width: 99%;
}
